<h1>Welcome to the "Leetspeak" translator!</h1>
<form action="/answer">
  <div class="form-group">
    <label for="leet">Type in your word or sentence here:</label>
    <input id="leet" name="leet" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Leet's see!</button>
</form>
